.sidebarContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
}

.newFileBtn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    margin-bottom: 20px;
}

.newFileBtn:hover {
    background-color: #0056b3;
}

.fileTabs {
    overflow-y: auto;
    flex-grow: 1;
}

.tab {
    padding: 10px;
    cursor: pointer;
    color: white;
    background-color: #333;
    margin-bottom: 5px;
}

.selectedTab {
    background-color: #555;
}

.fileActions {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.saveFileBtn,
.inviteBtn {
    padding: 10px;
    color: white;
    background-color: #007bff; 
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.saveFileBtn:hover,
.inviteBtn:hover {
    background-color: #0056b3;
}

.nameInputContainer {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileNameInput {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.fileNameInput:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}
